body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'HelveticaNeueCyr', sans-serif;
  margin: 0 auto;
  background: #cad2fc;
  display: block;
  position: relative;
}
.main_1 {
  width: 1440px;
  height: 3158px;
  background: url(grid.svg) no-repeat;
  background-color: white;
  margin: 0 auto;
  display: block;
  position: relative;
}
.grey {
  height: 2156px;
  position: relative;
  margin-top: 0;
  margin-left: 0.3px;
}
.parent {
  width: 1440px;
  height: 405px;
  position: relative;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.parent_2 {
  width: 925px;
  height: 320px;
  position: relative;
}
.look_parent {
  display: none;
  height: 405px;
  position: relative;
  margin-top: 0;
  margin-left: 0.3px;
}
.look_parent_2 {
  display: none;
  width: 925px;
  height: 320px;
  position: relative;
  margin-top: 0;
  margin-left: 0.3px;
}
.grey img {
  width: 100%;
  height: auto;
  margin-top: 0;
}
.grey:hover {
  cursor: pointer;
}
.green {
  position: absolute;
  margin-top: -2983.5px;
  margin-left: 0.3px;
  opacity: 0%;
}
.tria_1 {
  margin-top: 127px;
  margin-left: 75.5px;
  position: absolute;
}
.tria_2 {
  margin-top: 127px;
  margin-left: 1278px;
  position: absolute;
}
.rhomb_1 {
  margin-top: 125px;
  margin-left: 209.5px;
  position: absolute;
}
.rhomb_2 {
  margin-top: 130px;
  margin-left: 1146px;
  position: absolute;
}
.fish_1 {
  margin-top: 161.5px;
  margin-left: 409.5px;
  position: absolute;
}
.fish_2 {
  margin-top: 19px;
  margin-left: 542px;
  position: absolute;
}
.fish_3 {
  margin-top: 20.5px;
  margin-left: 855px;
  position: absolute;
}
.rhomb_big {
  margin-top: -14px;
  margin-left: 989.5px;
  position: absolute;
}
.star_1 {
  margin-top: 200.5px;
  margin-left: 901.5px;
  position: absolute;
}
.star_2 {
  margin-top: 52.5px;
  margin-left: 678.5px;
  position: absolute;
}
.bird_1 {
  margin-top: -17px;
  margin-left: 276.5px;
  position: absolute;
}
.bird_2 {
  margin-top: 232.5px;
  margin-left: 609.7px;
  position: absolute;
}
.plug {
  width: 925px;
  height: 320px;
  background: url(plug.svg);
  background-position: -509px 69px;
  position: absolute;
  background-repeat: no-repeat;
}
.plug_lines img {
  margin-left: 413px;
  margin-top: 184px;
  position: absolute;
}
.rectangle_1 {
  width: 405px;
  height: 327px;
  background: url(count.svg) no-repeat;
  background-color: #1c35c6;
  margin-top: -853px;
  margin-left: 504px;
  display: inline-block;
  position: absolute;
  opacity: 0%;
}
.rectangle_2 {
  width: 371px;
  height: 23px;
  background-color: #1c35c6;
  margin-top: -450px;
  margin-left: 504px;
  display: inline-block;
  position: absolute;
  font-weight: 550;
  font-style: normal;
  font-size: 20px;
  color: white;
  line-height: 115%;
  text-align: center;
  padding: 17px;
  opacity: 0%;
}
.rectangle_3 {
  width: 1340px;
  height: 115px;
  background-color: #1c35c6;
  margin-top: 102px;
  display: inline-block;
  position: relative;
  font-weight: 550;
  font-style: normal;
  font-size: 24px;
  color: white;
  padding: 35px 50px;
  line-height: 115%;
}
.top{
  padding-top: 91px;
}
.pos_1 {
  margin-left: 270px;
  margin-top: -28px;
}
.pos_2 {
  margin-left: 600px;
  margin-top: -56px;
}
.pos_3 {
  margin-left: 870px;
  margin-top: -110px;
}
.pos_4 {
  margin-left: 1060px;
  margin-top: -115px;
}
/* без транзишена работает */
/* .piece_1_pos {
  margin-left: 854px;
  margin-top: -2450px;
  position: absolute;
  transition: all .5s;
} */
/* это если нужна анимация при наведении на кусок */
/* .piece_1_pos:hover {
  cursor: pointer;
  transition: all .2s;
  opacity: 0;
} */
/* .piece_2_pos {
  margin-left: 787.5px;
  margin-top: -2342.5px;
  position: absolute;
}
.piece_3_pos {
  margin-left: 453.5px;
  margin-top: -2451px;
  position: absolute;
}
.piece_4_pos {
  margin-left: 987.2px;
  margin-top: -2129px;
  position: absolute;
}
.piece_5_pos {
  margin-left: 386.5px;
  margin-top: -2129px;
  position: absolute;
}
.piece_4_1_pos {
  margin-left: 253.5px;
  margin-top: -1918.5px;
  transform: rotate(180deg);
  position: absolute;
}
.piece_2_1_pos {
  margin-left: 987px;
  margin-top: -1918px;
  position: absolute;
  transform: rotate(180deg);
}
.piece_2_2_pos {
  margin-left: 1055px;
  margin-top: -1384px;
  position: absolute;
  transform: rotate(180deg);
}
.piece_6_pos {
  margin-left: 187px;
  margin-top: -1383.5px;
  position: absolute;
} */
