body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'HelveticaNeueCyr', sans-serif;
  margin: 0 auto;
  background: #cad2fc;
  display: block;
  position: relative;
}
.main_1 {
  width: 1440px;
  height: 3158px;
  background: url(grid.svg) no-repeat;
  background-color: white;
  margin: 0 auto;
  display: block;
  position: relative;
}
.container {
  display: block;
  position: relative;
  cursor: pointer;
  width: 1440px;
  height: 2620px;
}
.container input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}
.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height: 2620px;
 width: 1440px;
 background: url(green.svg) no-repeat;
 transition: background 0.2s ease-in-out;
}
.container input:checked ~ .checkmark {
 background: url(grey_1.svg) no-repeat;
}
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}
.container input:checked ~ .checkmark:after {
 display: none;
}
.container .checkmark:after {
 left: 100px;
 top: 50px;
 width: 100px;
 height: 10px;
}
input[type="checkbox"]:not(:checked) {
  height: 2620px;
  width: 1440px;
}
input[type="checkbox"]:checked {
  width: 1440px;
  height: 2620px;
}
.switch {
  position: relative;
  display: inline-block;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 1136.71px;
  height: 221.16px;
  color: transparent;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::after {
  top: -262px;
  left: -1px;
  width: 2136.71px;
  height: 221.16px;
  background: url(plug_1.svg) no-repeat;
  background-position: -507px 0;
  transition: background-position 1s ease;
}
.switch-input:checked + .switch-label::after {
  background-position: -143.5px 0;
}
.thing {
  position: absolute;
  width: 80px;
  height: 100px;
  background-color: #8D8D8D;
  margin-left: 928px;
  margin-top: -390px;
}
.hole {
  position: relative;
  margin-left: 790px;
  margin-top: 50px;
}
.rectangle_1 {
  width: 405px;
  height: 327px;
  background: url(count.svg) no-repeat;
  background-color: #1c35c6;
  margin-top: -853px;
  margin-left: 504px;
  display: inline-block;
  position: absolute;
  opacity: 0%;
}
.rectangle_2 {
  width: 371px;
  height: 23px;
  background-color: #1c35c6;
  margin-top: -450px;
  margin-left: 504px;
  display: inline-block;
  position: absolute;
  font-weight: 550;
  font-style: normal;
  font-size: 20px;
  color: white;
  line-height: 115%;
  text-align: center;
  padding: 17px;
  opacity: 0%;
}
.rectangle_3 {
  width: 1340px;
  height: 115px;
  background-color: #1c35c6;
  margin-top: -128px;
  display: inline-block;
  position: relative;
  font-weight: 550;
  font-style: normal;
  font-size: 24px;
  color: white;
  padding: 35px 50px;
  line-height: 115%;
}
.top{
  padding-top: 91px;
}
.pos_1 {
  margin-left: 270px;
  margin-top: -28px;
}
.pos_2 {
  margin-left: 600px;
  margin-top: -56px;
}
.pos_3 {
  margin-left: 870px;
  margin-top: -110px;
}
.pos_4 {
  margin-left: 1070px;
  margin-top: -115px;
}
/* без транзишена работает */
/* .piece_1_pos {
  margin-left: 854px;
  margin-top: -2450px;
  position: absolute;
  transition: all .5s;
} */
/* это если нужна анимация при наведении на кусок */
/* .piece_1_pos:hover {
  cursor: pointer;
  transition: all .2s;
  opacity: 0;
} */
/* .piece_2_pos {
  margin-left: 787.5px;
  margin-top: -2342.5px;
  position: absolute;
}
.piece_3_pos {
  margin-left: 453.5px;
  margin-top: -2451px;
  position: absolute;
}
.piece_4_pos {
  margin-left: 987.2px;
  margin-top: -2129px;
  position: absolute;
}
.piece_5_pos {
  margin-left: 386.5px;
  margin-top: -2129px;
  position: absolute;
}
.piece_4_1_pos {
  margin-left: 253.5px;
  margin-top: -1918.5px;
  transform: rotate(180deg);
  position: absolute;
}
.piece_2_1_pos {
  margin-left: 987px;
  margin-top: -1918px;
  position: absolute;
  transform: rotate(180deg);
}
.piece_2_2_pos {
  margin-left: 1055px;
  margin-top: -1384px;
  position: absolute;
  transform: rotate(180deg);
}
.piece_6_pos {
  margin-left: 187px;
  margin-top: -1383.5px;
  position: absolute;
} */
